/* Navbar.css */

/* Define color variables for consistency and easy maintenance */
:root {
    --navbar-bg: #0066c5; /* Slate Blue */
    --button-bg: #0066c5;  /* White */
    --button-text: #ffffff; /* Slate Blue */
    --button-hover-bg: #294697; /* Dark Slate Blue */
    --button-hover-text: #ffffff; /* White */
    --shadow-color: rgba(0, 0, 0, 0.2); /* Shadow color */
}

.navbar {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    background-color: var(--navbar-bg); /* Navbar background color */
    padding: 10px 20px; /* Vertical and horizontal padding */
    box-shadow: 0 4px 10px var(--shadow-color); /* Shadow for depth */
    position: relative; /* Set relative positioning for absolute children */
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 100px;
    object-fit: cover; 
    object-position: center; /* Center logo image */
}

.navbar-button {
    background-color: var(--button-bg); /* Button background color */
    color: var(--button-text); /* Button text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px; /* Padding for buttons */
    margin-left: 10px; /* Space between buttons */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition effects */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Make text bold */
}

.navbar-button:hover {
    background-color: var(--button-hover-bg); /* Background color on hover */
    color: var(--button-hover-text); /* Text color on hover */
}


.footer {
    background-color: #0066c5; 
    color: #ffffff; 
    text-align: center; 
    padding: 20px 0; 
    width: 100%; 
    position: relative; 
    bottom: 0; 
}

.footer-logo {
    position: absolute;
    top: 10px;
    left: 100px;
    height: 80px; 
    width: 80px; 
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px; 
}