.category-page-container {
  padding: 20px;
}

.category-page-title {
  text-align: center;
  margin-bottom: 20px;
}

.category-page-business-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-page-business-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  max-width: 400px;
  transition: transform 0.3s;
}

.category-page-business-card:hover {
  transform: scale(1.05);
}

.category-page-business-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-page-business-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.category-page-business-info {
  flex: 2;
  margin-left: 20px;
}

.category-page-business-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.category-page-business-name a {
  text-decoration: none;
  color: #333;
}

.category-page-business-address,
.category-page-business-website,
.category-page-business-category {
  font-size: 1em;
  margin: 5px 0;
}
