.category-page-container {
  padding: 20px;
}

.category-page-title {
  text-align: center;
  margin-bottom: 20px;
}

.category-page-business-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-page-business-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  max-width: 400px;
  transition: transform 0.3s;
}

.category-page-business-card:hover {
  transform: scale(1.05);
}

.category-page-business-image-container {
  position: relative;
  text-align: center;
  margin-bottom: 10px; /* space between the image and rating */
}

.category-page-business-image {
  width: 100px; /* Set the width for the image */
  height: 100px; /* Set the height for the image to be the same as the width */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  border: 2px solid #0066c5; /* Optional: adds a border around the image */
}

.category-page-business-rating {
  margin-top: 10px; /* Add space between image and ratings */
  font-size: 16px; /* Adjust the font size for the rating */
}

.rating-display {
  color: #000000; 
  font-weight: bold;
}

.review-count {
  color: #666; /* Grey color for the review count */
  margin-left: 5px;
}


.category-page-business-info {
  flex: 2;
  margin-left: 20px;
}

.category-page-business-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.category-page-business-name a {
  text-decoration: none;
  color: #333;
}

.category-page-business-address,
.category-page-business-website,
.category-page-business-category {
  font-size: 1em;
  margin: 5px 0;
}
